body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    color: #393E46; 
}

header {
    display: flex;
    justify-content: center; 
    background-color: #ffffff; 
    padding: 20px 20px; 
    border-bottom: 3px solid #00ADB5; 
}

.menu-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.menu-icon {
    display: none;
}

.logodiv {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.logoimg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (max-width: 768px) {
    .silver_hawk {
        font-size: 1.8rem; 
    }
}


.welcome-text {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    margin: 0;
}

.welcome-text h1 {
    font-size: 2.5em; 
    color: #393E46; 
}




.register-button-container {
    position: relative; 
}

.register-btn {
    position: fixed; 
    top: 20px; 
    right: 20px;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #e64a19;
}


@media (max-width: 768px) {
    .register-btn {
        right: 10px; 
        top: 10px;  
        width: auto; 
    }
}





#sketch-board-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;             
    height: 250px;           
    position: relative;
    margin: 20px 0;          
}

#sketch-board {
    position: relative;
    animation: moveRobot 2s infinite ease;
    transform: none; 
}

#head {
    width: 166px;
    height: 150px;
    border: 3px solid #000;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 -10px #aac;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

#lens {
    background-color: #007;
    width: 140px;
    height: 85px;
    border-radius: 50%;
    margin-top: 6px;
    position: relative;
    display: flex;
    align-items: center;
}

#lens::after,
#lens::before {
    content: "";
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    width: 85px;
    height: 70px;
    bottom: 2px;
    z-index: 1;
}

#lens::after {
    right: 0;
}

#lens::before {
    left: 0;
}

#upper-shadow {
    width: 94%;
    height: inherit;
    box-shadow: inset 0 4px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 3px;
    transform: translateX(3%);
}

#rect {
    position: absolute;
    background-color: #fff;
    width: 48px;
    height: 10px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
}

#eyes {
    position: absolute;
    width: 70%;
    height: 50%;
    transform: translateX(-50%);
    left: 50%;
    top: 28px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0 0 5px #09f) drop-shadow(0 0 10px #09f) drop-shadow(0 0 15px #09f);
}

#eyes::after,
#eyes::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #0ef;
    border-left-color: #0ef;
    transform: rotate(45deg);
}

#ear {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    width: 197px;
    height: 60px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 16px;
    z-index: 1;
    box-shadow: inset 0 -10px #aac;
}

#ear-antenna {
    width: 100%;
    height: 100%;
    position: relative;
}

#ear-antenna::after,
#ear-antenna::before {
    content: "";
    width: 10px;
    height: 35px;
    background-color: #0ef;
    position: absolute;
    transform: translateX(-100%);
    border: 3px solid #000;
}

#ear-antenna::before {
    left: 7px;
    border-top-left-radius: 40px;
    box-shadow: inset -2px 0 0 2px #08c;
}

#ear-antenna::after {
    right: 7px;
    border-top-right-radius: 40px;
    box-shadow: inset 2px 0 0 2px #08c;
}

#small-cap {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 47px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
}

#body {
    width: 126px;
    height: 170px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    overflow: hidden;
    box-shadow: inset 0 -10px rgba(100, 100, 100, 0.4);
}

#shadow-box {
    width: 100%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 0 18px #bebed6;
}

#pocket-area {
    width: 150%;
    height: 60%;
    margin-top: 45px;
    border: 3px solid #000;
    border-radius: 50%;
    margin-left: -25%;
    position: relative;
}

#pocket {
    width: 60px;
    height: 50px;
    background-color: #0cf;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #000;
    top: -20px;
    border-radius: 10px 10px 50% 50%;
    box-shadow: inset 0 -8px rgba(100, 100, 100, 0.4);
}

#hands {
    position: absolute;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
}

.hand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform: rotate(35deg); 
}

.hand::before {
    content: "";
    width: 40px;
    height: 90px;
    background-color: #fff;
    box-shadow: inset -10px 0 #aac;
    border-radius: 40%;
    border: 3px solid #000;
}

.hand:last-child {
    transform: rotate(240deg);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    50% {
      transform: rotate(280deg);
    }
}

@keyframes moveRobot {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); 
    }
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    padding: 50px;
    justify-content: center; 
}

.nav-box {
    background-color: #ffffff; 
    color: #ffffff; 
    width: 100%;
    max-width: 650px; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-0.1px);
    transition: all 0.3s ease;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.nav-box:hover {
    background-color: #00ADB5;  
    color: #00ADB5;  
    transform: translateY(-10px);
}

footer {
    background-color: #ffffff; 
    color: #393E46; 
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-top: 3px solid #00ADB5; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content a {
    color: #393E46; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #393E46; 
}

.footer-content p {
    margin: 10px 0 0;
}

.about {
    background: url("./Main\ Page\ Images/about.jpg") center center / cover no-repeat;
}

.team {
    background: url("./Main\ Page\ Images/team.jpeg") center center / cover no-repeat;
}

.Achievements {
    background: url("./Main\ Page\ Images/achievements.jpg") center center / cover no-repeat;
}

.projects {
    background: url("./Main\ Page\ Images/Projects.jpg") center center / cover no-repeat;
}

.experiences {
    background: url("./Main\ Page\ Images/experiences.jpg") center center / cover no-repeat;
}

.past {
    background: url("Main\ Page\ Images/past team.jpg") center center / cover no-repeat;
}


.hawk{
    margin-right: 2rem;
}

.silver_hawk{
    width: auto;
    font-size: 2.5rem;
    color: #393E46;
}

@media (max-width: 768px){
    .nav-box {
        height: auto; 
        min-height: 5rem;
        padding: 20px;
        font-size: 1.2em; 
    }
}
.notice-board{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    overflow: hidden;
    /* position: fixed; */
    /* position: sticky; */
    top: 50px; 
    left: 0;
    z-index: 5; 
}
.notice-container{
    display: inline-block;
    white-space: nowrap;
}
.notice{
    display: inline-block;
    padding-left: 100%;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
