body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #555;
    padding: 20px 0;
    color: #fff;
    position: relative;
}

.header-text {
    text-align: center;
}

.header h1 {
    font-size: 30px; 
    margin: 0;
    font-weight: bold;
}

.header h2 {
    font-size: 35px;
    margin: 0;
    color: #fff;
}

.logodiv {
    height: 5rem; 
    width: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 40px;
}

.logoimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%; 
}

.year-section {
    text-align: center;
    padding: 20px;
}

.team-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.team-grid h2 {
    margin-bottom: 20px;
}

.team-image {
    border-radius: 8px;
    width: 500px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px; /* Adds spacing between cards */
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 180px;
    text-align: center;
}

.card img.card-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    color: #00ADB5;
}

.card p {
    margin: 10px 0 0;
    font-weight: bold;
    color: #393E46;
}


footer {
    background-color: #ffffff; 
    color: #393E46; 
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-top: 3px solid #00ADB5; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content a {
    color: #00ADB5; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #393E46; 
}

.footer-content p {
    margin: 10px 0 0;
}
