* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9;
    height: 100vh;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #555;
    padding: 20px 0;
    color: #fff;
    position: relative;
}

.header-text {
    text-align: center;
}

.header h1 {
    font-size: 30px; 
    margin: 0;
    font-weight: bold;
}

.header h2 {
    font-size: 35px;
    margin: 0;
    color: #fff;
}

.logodiv {
    height: 5rem; 
    width: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 40px;
}

.logoimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%; 
}

.bot-carnival-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
}


.registration-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 120px); 
    padding: 20px;
}

.registration-box {
    background-color: #fff;
    border-radius: 10px;
    width: 40%;
    height: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.registration-box h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.registration-box p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    padding: 0 10px;
}

.registration-box .register-btn {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.registration-box .register-btn:hover {
    background-color: #e64a19;
}

.registration-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.combat-bot {
    background-color: #f1f1f1;
}

.workshop {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .registration-container {
        flex-direction: column;
    }

    .registration-box {
        width: 80%;
        height: 50%;
        margin-bottom: 20px;
    }
}

